.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 730px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to right,
            #e0e0e0,
            #cfd8dc,
            #b0bec5);
    border-bottom: 1px solid #b0b0b0;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.button {
    padding: 10px;
    background: linear-gradient(to right,
            #e0e0e0,
            #cfd8dc,
            #b0bec5);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.button.zoom {
    width: 100%;
    border: none;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    transform: scale(0.98);
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.loader {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #b0bec5;
    /* красный акцент */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}