* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(255, 255, 255, 0.87);
	color: #242424;
	font-family: system-ui, sans-serif;
	font-weight: 400;
	line-height: 1.5;
}